:root {
  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);

  --neutral-very-pale-blue: hsl(225, 100%, 98%);
  --neutral-desaturated-blue: hsl(224, 23%, 55%);
  --neutral-dark-blue: hsl(223, 47%, 23%);
}

body {
  background-color: var(--primary-pale-blue);
}

.container {
  display: block;
  margin: 5% auto 1% auto;
  width: 450px;
  height: 700px;
  background-color: white;
  border-radius: 20px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.image-container img {
  border-radius: 20px 20px 0 0;
}

.summary-container {
  padding: 45px;
  text-align: center;
  color: var(--neutral-dark-blue);
}
.headline {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 900;
}
.descriprion {
  padding: 5px 20px;
  line-height: 25px;
  color: var(--neutral-desaturated-blue);
}

.subscription-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--neutral-very-pale-blue);
  border-radius: 10px;
}
.plan {
  display: flex;
  align-items: center;
}
.price {
  margin: 0 15px;
  font-weight: 500;
}
.price p {
  margin: 0;
  padding: 3px;
}
.price p:nth-child(1) {
  font-weight: 700;
}
.price p:nth-child(2) {
  color: var(--neutral-desaturated-blue);
}
.change a {
  text-decoration: none;
  color: var(--primary-bright-blue);
}
.change a:hover {
  color: hsl(245, 75%, 72%);
}

.button {
  margin: 10px;
}
.payment-button {
  margin: 25px 0;
  padding: 15px;
  width: 100%;
  background-color: var(--primary-bright-blue);
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(56, 41, 224, 0.3);
  color: var(--neutral-very-pale-blue);
  font-size: 15px;
  font-weight: 700;
}
.payment-button a {
  text-decoration: none;
  color: var(--neutral-very-pale-blue);
}
.payment-button:hover {
  background-color: hsl(245, 75%, 72%);
}
.cancel a {
  color: var(--neutral-desaturated-blue);
  font-weight: 700;
  text-decoration: none;
}
.cancel a:hover {
  color: var(--neutral-dark-blue);
  text-decoration: none;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 600px) {
  .container {
    width: 350px;
    height: 600px;
  }
  .image-container img {
    width: 350px;
  }
  .summary-container {
    padding: 20px;
  }
  .subscription-plan {
    padding: 20px;
  }
  .button {
    margin: 0;
  }
}
